apiVersion: apps/v1
kind: Deployment
metadata:
  name: database
  namespace: pets-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: database
  template:
    metadata:
      labels:
        app: database
    spec:
      containers:
        - name: mongodb
          image: mongo:7.0
          ports:
            - containerPort: 27017
          volumeMounts:
            - name: db-storage
              mountPath: /data/db
      volumes:
        - name: db-storage
          persistentVolumeClaim:
            claimName: database-pvc
